# Notebook to extract single user data corresponding to different tasks

In [18]:
import numpy as np
import pandas as pd
from pathlib import Path

In [21]:
sample_name = "act_1_1"

BASE_PATH = Path("/Users/shreevanth/Documents/PhD_work/Adversarial_CSI/data/WiMANS/archive/")

DATASET_PATH = BASE_PATH / "wifi_csi/amp/act_1_1.npy"
LABELS_PATH = BASE_PATH / "annotation.csv"

In [22]:
data = np.load(DATASET_PATH)
annotations = pd.read_csv(LABELS_PATH)

In [23]:
data.shape

(2835, 3, 3, 30)

In [24]:
annotations.head()

,#,label,environment,wifi_band,number_of_users,user_1_location,user_2_location,user_3_location,user_4_location,user_5_location,user_6_location,user_1_activity,user_2_activity,user_3_activity,user_4_activity,user_5_activity,user_6_activity
0,1,act_1_1,classroom,2.4,1,a,NaN,NaN,NaN,NaN,NaN,nothing,NaN,NaN,NaN,NaN,NaN
1,2,act_1_2,classroom,2.4,1,a,NaN,NaN,NaN,NaN,NaN,walk,NaN,NaN,NaN,NaN,NaN
2,3,act_1_3,classroom,2.4,1,a,NaN,NaN,NaN,NaN,NaN,rotation,NaN,NaN,NaN,NaN,NaN
3,4,act_1_4,classroom,2.4,1,a,NaN,NaN,NaN,NaN,NaN,jump,NaN,NaN,NaN,NaN,NaN
4,5,act_1_5,classroom,2.4,1,a,NaN,NaN,NaN,NaN,NaN,wave,NaN,NaN,NaN,NaN,NaN

In [26]:
annotations.iloc[0]

'act_1_1'

In [28]:
single_user_df = annotations[annotations["number_of_users"] == 1]

In [36]:
single_user_df.shape

(3564, 17)

In [65]:
user_name = 6
user_name = "user_" + str(user_name) + "_location"
locations = ["a", "b", "c", "d", "e"]

fil_df = single_user_df.loc[single_user_df[user_name].isin(locations)]
print(fil_df.shape)
# fil_df.tail()
print(fil_df.head())
fil_df.info()

# fil_df = single_user_df.loc[(single_user_df[user_name] in locations).any()]

(594, 17)
       #    label environment  wifi_band  number_of_users user_1_location  \
495  496  act_6_1   classroom        2.4                1             NaN
496  497  act_6_2   classroom        2.4                1             NaN
497  498  act_6_3   classroom        2.4                1             NaN
498  499  act_6_4   classroom        2.4                1             NaN
499  500  act_6_5   classroom        2.4                1             NaN

    user_2_location user_3_location user_4_location user_5_location  \
495             NaN             NaN             NaN             NaN
496             NaN             NaN             NaN             NaN
497             NaN             NaN             NaN             NaN
498             NaN             NaN             NaN             NaN
499             NaN             NaN             NaN             NaN

    user_6_location user_1_activity user_2_activity user_3_activity  \
495               a             NaN             NaN             NaN
496               a             NaN             NaN             NaN
497               a             NaN             NaN             NaN
498               a             NaN             NaN             NaN
499               a             NaN             NaN             NaN

    user_4_activity user_5_activity user_6_activity
495             NaN             NaN         nothing
496             NaN             NaN            walk
497             NaN             NaN        rotation
498             NaN             NaN            jump
499             NaN             NaN            wave
<class 'pandas.core.frame.DataFrame'>
Index: 594 entries, 495 to 9503
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   #                594 non-null    int64
 1   label            594 non-null    object
 2   environment      594 non-null    object
 3   wifi_band        594 non-null    float64
 4   number_of_users  594 non-null    int64
 5   user_1_location  0 non-null      object
 6   user_2_location  0 non-null      object
 7   user_3_location  0 non-null      object
 8   user_4_location  0 non-null      object
 9   user_5_location  0 non-null      object
 10  user_6_location  594 non-null    object
 11  user_1_activity  0 non-null      object
 12  user_2_activity  0 non-null      object
 13  user_3_activity  0 non-null      object
 14  user_4_activity  0 non-null      object
 15  user_5_activity  0 non-null      object
 16  user_6_activity  594 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 83.5+ KB

In [87]:
fil_df["user_" + str(6) + "_activity"].unique()

array(['nothing', 'walk', 'rotation', 'jump', 'wave', 'lie_down',
       'pick_up', 'sit_down', 'stand_up'], dtype=object)

In [78]:
def filter_records(df: pd.DataFrame, user_name:int, pref_location:str, total_users:int = 6):
    """
    Function to extract all the records of single user (user_name) along with the position they are situated at

    Args:
        df: pd.DataFrame, dataframe containing the annotations
        user_name: int, ID of the user
        pref_location: str, preferred location of the user
        total_users: int, total number of users in the dataset
    Returns:
        fil_df: pd.DataFrame, dataframe containing the filtered records
    """

    if user_name == 0:
        uname = ["user_" + str(ii) + str("_location") for ii in range(1, total_users+1)]
    else:
        uname = "user_" + str(user_name) + "_location"
        user_df = df[df["number_of_users"] == 1]
        print("Number of single user records is:", len(user_df))

    if pref_location is None:
        pref_location = ["a", "b", "c", "d", "e"]
    else:
        pref_location = [pref_location]

    # user_locations = ["user_" + str(ii) + str("_location") for ii in range(1, total_users+1)]
    # user_activities = ["user_" + str(ii) + str("_activity") for ii in range(1, total_users+1)]

    fil_df = single_user_df.loc[single_user_df[uname].isin(pref_location)]

    print(f"Number of user records of {user_name} at {pref_location} after filtering is {len(fil_df)}")

    return fil_df

In [84]:
activities = ['nothing', 'walk', 'rotation', 'jump', 'wave', 'lie_down', 'pick_up', 'sit_down', 'stand_up']


single_user_records(annotations, 1, "a")

Number of single user records is: 3564
Number of single user records of 1 at ['a'] after filtering is 162

,#,label,environment,wifi_band,number_of_users,user_1_location,user_2_location,user_3_location,user_4_location,user_5_location,user_6_location,user_1_activity,user_2_activity,user_3_activity,user_4_activity,user_5_activity,user_6_activity
0,1,act_1_1,classroom,2.4,1,a,NaN,NaN,NaN,NaN,NaN,nothing,NaN,NaN,NaN,NaN,NaN
1,2,act_1_2,classroom,2.4,1,a,NaN,NaN,NaN,NaN,NaN,walk,NaN,NaN,NaN,NaN,NaN
2,3,act_1_3,classroom,2.4,1,a,NaN,NaN,NaN,NaN,NaN,rotation,NaN,NaN,NaN,NaN,NaN
3,4,act_1_4,classroom,2.4,1,a,NaN,NaN,NaN,NaN,NaN,jump,NaN,NaN,NaN,NaN,NaN
4,5,act_1_5,classroom,2.4,1,a,NaN,NaN,NaN,NaN,NaN,wave,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9004,9005,act_91_95,empty_room,5.0,1,a,NaN,NaN,NaN,NaN,NaN,wave,NaN,NaN,NaN,NaN,NaN
9005,9006,act_91_96,empty_room,5.0,1,a,NaN,NaN,NaN,NaN,NaN,lie_down,NaN,NaN,NaN,NaN,NaN
9006,9007,act_91_97,empty_room,5.0,1,a,NaN,NaN,NaN,NaN,NaN,pick_up,NaN,NaN,NaN,NaN,NaN
9007,9008,act_91_98,empty_room,5.0,1,a,NaN,NaN,NaN,NaN,NaN,sit_down,NaN,NaN,NaN,NaN,NaN
9008,9009,act_91_99,empty_room,5.0,1,a,NaN,NaN,NaN,NaN,NaN,stand_up,NaN,NaN,NaN,NaN,NaN